@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
*{
    font-family: NotoSans-Medium, sans-serif;
}
a{
    font-family: 'Noto Sans KR', sans-serif;
}


main{
    max-width: 1920px;
    padding-bottom: 200px;
}


/**********SECTION 1 start************/
#title_wrap{
    padding-top: 220px;
    margin-bottom: 50px;
}
#title_wrap>article{
    background-image: url(../img/bs7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%; height: 100%;
}
#title_wrap h2{
    font-size: 60px;
    color: #fff;
    line-height: 560px;
    font-weight: bold;
    text-align: center;
}
#title_wrap h2::selection{
    background: none;
}

/* wrap */
#wrap{
    width: 100%;
}
.inner{
    padding: 100px 320px;
}
/* cont1 */
.cont1{
    width: 100%;
    display: flex;
}
.cont1_left{
    width: 40%; height: 100%;
    text-align: center;
    margin: auto;
}
.cont1_left_in>h6{
    font-size: 28px;
    font-weight: 800;
    color: #303238;
    margin-bottom: 30px;
}
.cont1_left_in>p{
    font-size: 16px;
    color: #303238;
    margin-bottom: 30px;
}
.bs_btn{
    margin: auto;
    width: 65%;
    padding: 10px 5px;
    cursor: pointer;
    border: 3px solid #ae0f14;
}
.bs_btn>span{
    color: #ae0f14;
    font-weight: 800;
}
.cont1_right{
    width: 50%;
}
.cont1_right img{
    height: 700px;
    float: right;
}

/* cont2 */
.cont2{
    width: 100%;
    padding-top: 100px;
}
.cont2_inner{
    width: 100%;
}
.cont2_inner>p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #d5686c;
}
.cont2_img{
    display: flex;
}
.cont2_img img{
    width: 50%;
}

/* cont3 */
.cont3{
    width: 100%;
    padding-top: 100px;
}
.cont3_inner{
    width: 100%;
}
.cont3_inner>p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #d5686c;
}
.cont3_list{
    width: 100%;
}
.cont3_list>div{
    width: 100%;
    margin: 0 auto;
}
.cont3_list ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
.cont3_list ul>li{
    align-items: center;
}

/****************media*******************/
@media only screen and (max-width: 1100px) {
    #title_wrap article{
        height: 500px;
    }
    #title_wrap h2{
        font-size: 55px;
    }
    .inner{
        padding: 0 60px;
    }
}



@media only screen and (max-width: 767px) {
    #title_wrap article{
        height: 450px;
    }
    #title_wrap h2{
        font-size: 50px;
    }
    .inner{
        padding: 0 20px;
    }
}