main {
  width: 100%;
  position: relative;
  padding-top: 220px;
}
section {
  padding: 0 320px;
}
.sec_b {
  padding: 0;
}
.sec_g {
  padding-top: 150px;
}
.banner {
  width: 100%;
}
.banner {
  width: 1920;
  height: 560px;
  background-image: url(../img/banner/map-2562138_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.banner > h2 {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: white;
  stroke: 3px black;
  line-height: 560px;
}
.banner > h2::selection {
  background: none;
}

.present {
  padding: 50px;
  margin: auto;
  width: 500px;
}
.present > img {
  width: 100%;
}
.g_div {
  display: flex;
  justify-content: space-between;
}
.g_left {
  width: 40%;
}
.g_left li {
  text-align: center;
}
.g_left li > img {
  width: 80%;
}
.g_left li > p {
  font-size: 20px;
  padding-bottom: 50px;
  color: rgb(179, 179, 179);
}
.g_left h3 {
  margin-bottom: 60px;
}
h3 {
  font-weight: 600;
  font-size: 26px;
  color: #ae0f14;
  margin-bottom: 25px;
  text-align: center;
}

h4 {
  padding: 20px 0;
  font-weight: 500;
  font-size: 22px;
  color: #333;
  text-align: center;
}
.g_right {
  width: 60%;
}
.right_div {
  /* display: flex; */
  padding: 20px 0;
}
.right_div > div {
  width: 100%;
}
.right_l {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.right_l > strong {
  font-size: 22px;
  color: #999;
}
.right_l > p {
  color: #767676;
  font-weight: 500;
  font-size: 23px;
  padding: 0;
}
.g_button > li {
  padding: 20px 0;
  text-align: center;
}
.right_r > p {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: #333;
  padding: 10px 0;
}
.g_button li > span {
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  background-color: #999;
  padding: 8px 15px;
}
.r_info > p {
  padding: 30px 0;
  font-size: 15px;
  color: #999;
  text-align: center;
}
.warn {
  margin-top: 50px;
  color: #999;
  text-align: center;
  font-size: 10px;
}

.warn > p {
  font-size: 10px;
  color: #999;
  text-align: center;
}

.g_bottom {
  padding-top: 50px;
  margin-bottom: 100px;
}
.g_bot > strong {
  font-weight: 600;
  font-size: 18px;
}
.g_bot > div {
  display: flex;
}
.bot_num {
  font-size: 45px;
  color: #999;
}
.bot_exp > p {
  font-size: 10px;
  color: #999;
  text-align: center;
}
